
<div class="admin-form">
    <p class="form-title">{{ isEditMode ? 'Editar': 'Agregar'}} Docente</p>
    <form [formGroup]="myForm"
            (ngSubmit)="submit()">
        <label for="codigo">Código:</label>
        <input formControlName="codigo" type="number" id="codigo" name="codigo" class="small-input" pattern="[0-9]+" required>

        <label for="nombre">Nombre:</label>
        <input formControlName="nombre" type="text" id="nombre" name="nombre" class="small-input" pattern="[A-Za-z]+" required>

        <label for="materia">Materia:</label>
        <input formControlName="materia" type="text" id="materia" name="materia" class="small-input" pattern="[A-Za-z]+" required>

        <label for="grupo">Grupo:</label>
        <input formControlName="grupo" type="text" id="grupo" name="grupo" class="small-input" pattern="[A-Za-z]+" required>


        <button class="btn-red" type="submit">{{ isEditMode ? 'Editar': 'Agregar'}} Docente</button>
    </form>
</div>
            