<p class="form-title">Lista de Docentes</p>
<table class="custom-table">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Materia</th>
            <th>Grupo</th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let docente of docentes">
            <td> {{ docente.codigo }} </td>
            <td> {{ docente.nombre }} </td>
            <td> {{ docente.grupo }} </td>
            <td> {{ docente.materia }} </td>
            <td>
                <button (click)="editarDocente(docente.id)" class="btn-edit">Editar</button>
                <button (click)="deleteDocente(docente.id)" class="btn-delete">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>