<div class="container" style="width: 100%">
    <div class="two-column-layout">
        <div class="left-column">
            <app-navbar></app-navbar>
        </div>
        
        <div class="right-column" style="width: 100%">
            <div class="red-box-top">
                <span class="white-text">Judith Pilar</span>
                <a href="../html/Administrador.html">
                    <img src="/assets/images/flecha.png" alt="Regresar" class="back-arrow">
                </a>
            </div>
            <div class="dynamic-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>