<div class="red-box">
    <h2 class="white-text">Administrador</h2>
</div>
<button class="btn-left">Agregar Competencia</button>
<button class="btn-left">Agregar RA</button>
<a routerLink="/administrador/docentes/agregar" class="btn-left custom-width">Agregar Docente</a>
<button class="btn-left">Agregar Materia</button>
<a routerLink="/administrador/docentes/" class="btn-left">Docentes</a>
<button class="btn-left">Competencias</button>
<button class="btn-left">Planeaciones</button>
<button class="btn-left">Materias</button>
