<div class="container">
    <div class="dashboard-box">
        <div class="dashboard-left">
            <img src="/assets/images/ufps.png" alt="Imagen de perfil">
        </div>
        <div class="dashboard-right">
            <div class="dashboard-title">
                <h1>Planeacion Docente</h1>
            </div>
            <p>Bienvenido al Plan Docente</p>
            <p>¿Quién intenta ingresar?</p>
            <a routerLink="/administrador" class="btn-dashboard">Docente</a>
            <a href="../html/Administrador.html" class="btn-dashboard">Administrador</a>
        </div>
    </div>
</div>